<!DOCTYPE html> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">
<title>Validation result</title>
</head>
<body>

<h1> Validation result</h1>


<div id="content">
$content
</div>
#footer
</body>
</html>