#macro (footer)
<div class="footer">
<div class="align-left">
 @Copyright  Richard Adams 2016
 </div>
 <div class="align-right">
  Version 0.3.0 
  </div>
  <img src="/images/logoSedml.png" style="display:block; margin: 0 auto" width=20% />
  <div style="clear:both"/> 
</div>
#end

#macro (notes, $sedbase, $notesWriter)
  #foreach ($note in $sedbase.getNotes() )
       $notesWriter.outputString($note.notesElement)
  #end
#end