/* Page heading*/
h1,h2,h3 {
	color: rgb(18,108,155);
	background-color: lightgrey;
	text-align: center;	
}
.highlight {
	background-color: lightgrey;
}

.error {
	 color: red
}

.footer {
	 clear: both; /* clears floating elements*/
	 font-style: italic;
	 font-size: 80%;
	 border-top: 2px solid black;
	 width:100%;
	 margin-top:20px;	 
	}
.align-left {
	float:left;
	padding:10px;
}
.align-right {
	float:right;
	padding:10px;
}

.label {
	font-weight: 800;
}
	
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}