<!DOCTYPE html> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/styles/normalize.css">
<link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
<link rel="stylesheet" type="text/css" href="/styles/styles2.css">
<title>$item.originalFilename view</title>
</head>
<body>
<h1> $item.originalFilename</h1>
<div class ="container">
<div class="row">
<p>This is an HTML view of the SEDML file $item.originalFilename </p>
<p> This file is level $sedml.level, version $sedml.version
<h3> List of Models </h3>

</div>
#foreach($model in $sedml.models)
<div class="row">
<h5>  <a name="$model.id"/> $model.name</a></h5>
</div>
<div class="row">
  <div class ="one column label">
    Source:
  </div>
  <div class = "five columns">
  #if ($model.source.startsWith("html"))
    <a href ="$model.source" target="_blank">$model.source</a>
  #elseif ($model.source.startsWith("urn:miriam:biomodels.db:"))
    #set ($ebi = 'http://www.ebi.ac.uk/biomodels-main/')
    #set ($suffix = $model.source.substring(24))
     <span class="dont-break-out">
      <a href ="${ebi}${suffix}" target="_blank">$model.source</a></span>
  #else 
     $model.source
  #end
  </div>
  <div class ="one column label">
   Language 
  </div> 
  <div class = "five columns">
   <span class="dont-break-out">$model.language </span>
   </div>
</div>
  #if ($model.hasChanges())
     <div class="row"> <h6>Changes</h6></div>
     #foreach ($change in $model.listOfChanges)   
       <div class="row">
        <div class="one column label">Type</div>
        <div class="two columns">$change.changeKind</div>
        <div class="one column label">Target</div>
        <div class="four columns">
             <span class="dont-break-out">$change.targetXPath</span>
        </div>
        #if($change.changeKind == 'ChangeAttribute')
           <div class="one column label">New value</div>
           <div class="three columns">$change.newValue</div>
        #elseif ($change.changeKind == 'AddXML')
            <div class="one column label">New value</div>
            <div class="three columns">
               #foreach($element in $change.newXML.xml)
                  $element
               #end
            </div>
        #elseif ($change.changeKind == 'RemoveXML')
            <div class="four columns"></div>
        #elseif ($change.changeKind == 'ComputeChange')
            <div class="one column label">Math</div>
            <div class="three columns">
              $mathToString.formulaToString($change.math)
            </div>
        #end
       </div> 
     #end ## of changes
  #end ## of if changes
#end ## of models
<div class="row">
<h3> List of Simulations </h3>
</div>
#foreach ($simulation in $sedml.simulations)
 <div class ="row">
   <div class ="one column label">Name</div>
   <div class ="two columns"><a name="$simulation.id">$!simulation.name</a></div>
   <div class ="one column label">Start time</div>
   <div class ="one column">$simulation.initialTime</div>
   <div class ="one column label">Output start</div>
   <div class ="one column">$simulation.outputStartTime</div>
   <div class ="one column label">Output end</div>
   <div class ="one column">$simulation.outputEndTime</div>
   <div class ="one column label">Number of data points</div>
   <div class ="two columns">$simulation.numberOfPoints</div>
 </div>
#end
<div class="row">
<h3> List of Tasks </h3>
</div>
<div class="row">
   <div class ="four columns label">Name</div>
   <div class ="four columns label">Model reference</div>
   <div class ="four columns label">Simulation reference</div>
</div>
#foreach ($task in $sedml.tasks)
 <div class ="row">
   <div class ="four columns">$!task.name</div>
   <div class ="four columns"><a href="#$task.modelReference">$task.modelReference</a></div>
   <div class ="four columns"><a href="#$task.simulationReference">$task.simulationReference</a></div>
 </div>
#end
<div>
<h3> List of DataGenerators </h3>
</div>
<div class ="row">
<div class ="two columns label">Name</div>
<div class ="six columns label">Variables</div>
  <div class="four columns label">Math</div>
</div>
#foreach ($dg in $sedml.dataGenerators)

 <div class ="row">
   
   <div class ="two columns"><a name ="$dg.id">$!dg.name</a></div>
   <div class ="six columns"> 
    #foreach ($var in $dg.listOfVariables)
      $var.reference 
      #if($var.symbol)
        ($var.symbol) <br/>
      #else 
      <span class="dont-break-out">($var.getTarget())</span> <br/>
      #end
    #end
   </div>
 
        <div class="four columns">
             <span class="dont-break-out"> $mathToString.formulaToString($dg.math)</span>
        </div>
 </div>
#end

</div>
#footer
</body>
</html>
